/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# phpstorm project files
.idea

# vs code settings
.vscode/

# netbeans project files
nbproject

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store